.products {
    display: flex;
    flex-flow: row wrap;
}

.product {
    border: solid .25em rgb(32, 32, 32);
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 100%;
}

.product h1 {
    flex-basis: 100%
}

.product figure,
.product p {
    flex-basis: 100%;
}

.product figure {
    margin: 0;
}

@media (min-width: 768px) {
    .product figure,
    .product p {
        flex-basis: 50%;
    }
}

@media (min-width: 1196px) {
    .product {
        flex: 0 0 50%;
    }
}
