.product {
    border: solid .25em rgb(32, 32, 32);
    display: flex;
    flex-flow: row wrap;
}

.product h1 {
    flex-basis: 100%
}

.product figure,
.product p {
    flex-basis: 50%;
}

.product figure {
    margin: 0;
}
