@font-face {
    font-family: Trueno;
    font-weight: 400;
    src: url('../font/TruenoRg.otf') format('opentype');
}

@font-face {
    font-family: Trueno;
    font-weight: 600;
    src: url('../font/TruenoBd.otf') format('opentype');
}

html {
    font-family: Trueno, sans-serif;
    color: #34DA7C;
    color: rgb(32, 32, 32);
}

body {
    max-width: 1024px;
    margin: 0 auto;
}

img, video, object, embed {
    max-width: 100%;
}


header {
    background-color: #6fcc47;
    font-size: 1.6em;
    padding: 1em;
}

header > :first-child {
    margin-top: 0;
}

header > :last-child {
    margin-bottom: 0;
}

.product {
    border: solid .25em rgb(32, 32, 32);
}

.product figure,
.product p {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

.product figure {
    margin: 0;
}
